input {
  font-size: 2em !important;
}
.certo {
  color: green;
}

.errado {
  color: red;
}

.trestado td,th{
  border: 1px solid #808080;
  padding: 5px 10px;
}

.linha_selecao td, .palavra_selecao{
	background: #c5e1a5;
}

.linha_selecao td.palavra_selecao{
	color: #fff;
	background: green;
}
