input {
  font-size: 2em !important;
}
.certo {
  color: green;
}

.errado {
  color: red;
}

.trestado td,th{
  border: 1px solid #808080;
  padding: 5px 10px;
}

.estado_selecionado td,
.letra_selecionada{
	background: rgba(0,255,0,0.1);
}
.estado_selecionado td.letra_selecionada{
	color: #fff;
	background: green;
}

@media only screen and (min-width: 993px) {
  .container {
      width: 100%;
  }
}

body {
  background-color: 	#F8F8FF;
}
